modules = ["nodejs-20", "web"]
run = "npm start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[workflows]
runButton = "Start Legal Port"

[[workflows.workflow]]
name = "legal-port"
mode = "sequential"
author = 46775612

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd legal-port"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow]]
name = "Start Legal Port"
author = 46775612
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd legal-port && npm start"
